.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: 20px;
}
.container {
  max-width: 800px;
}
.converter {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 420px) {
  .converter {
    grid-template-columns: 1fr;
  }
}
.button_container {
  margin-bottom: 20px;
  text-align: center;
  grid-column: 1 / -1;
}

.add_currency_btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add_currency_btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.converter__item {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 12px;
}

.converter__form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.converter__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.converter__image {
  width: 32px;
  height: 32px;
  background-size: contain;
}
.converter__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.converter__remove {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  color: white;
}
.converter__link {
  color: white;
  display: block;
  margin-bottom: 4px;
}
.header__title,
.description {
  color: white;
}

/* Spinner */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* Error msg */

.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 12px;
  border-radius: 4px;
  margin: 16px 0;
  text-align: center;
  border: 1px solid #ef5350;
}
